.contacto-section {
    height: 90vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #090909;
}

/* Cambiamos el layout del texto en mobile */
.contacto-section p {
    display: grid;
    grid-template-columns: 1fr; /* Una columna por defecto */
    justify-items: center;
    align-items: center;

    color: #ffffff93;
    font-size: 1.7rem;
    text-align: center;
    margin: 0;
}

.contacto-section p a {
    color: #1962ff;
    text-decoration: none;
}

/* En desktop, juntamos los elementos en la misma línea */
@media (min-width: 768px) {
    .contacto-section p {
        grid-template-columns: auto auto; /* Dos columnas: texto y link */
        gap: 0.5rem; /* Espaciado entre las columnas */
    }
}
