.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px 20px;
    box-shadow: none;
    transition: all 0.3s ease-in-out;

    /* Hacer la navbar fija */
    position: fixed;
    width: 100vw;
    height: 8vh;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.95);
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-left: 5vw; /* Reducido el margen izquierdo para dar más espacio */
    width: 20rem; /* Aumentado a 20rem */
    transition: transform 0.3s ease;
    height: auto; /* Mantener proporciones */
    object-fit: contain; /* Asegurar que la imagen se vea bien */
}

.navbar-brand img:hover {
    transform: scale(1.05); /* Efecto de escala sutil al pasar el mouse */
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;


    /* margin-right: 15rem; */
    margin-right: 10vw;
}

.navbar-menu li a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    font-size: clamp(1.6rem, 2.5vw, 2.2rem); /* Aumentado aún más el tamaño */
    font-weight: 500;
    padding: 8px 15px; /* Más espacio alrededor */
    border-radius: 4px;
    letter-spacing: 0.5px; /* Mejor espaciado entre letras */
}

.navbar-menu li a:hover {
    color: #1860ff; /* Azul al pasar el cursor */
}

/* Hacer responsive la navbar */
@media (max-width: 800px) {
    .navbar-menu {
        display: none;
    }
    .navbar {
        flex-wrap: wrap;
    }
}