/* eliminamos paggings y boxes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Modificamos dimenciones de rem  */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}



/* Eliminamos la barra de scroll */
body::-webkit-scrollbar {
    display: none;
}


section {
    width: 100vw; /* 100% del ancho de la pantalla */
    box-sizing: border-box;
}